/* Borders for All components */
/*

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*/

/* Definitions */
/* latin 400 */
@font-face {
  font-family: 'Montserrat';
  src:  local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat-Regular.woff') format('woff');   /* Modern Browsers */
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin 600 */
@font-face {
  font-family: 'Montserrat';
  src:  local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat-SemiBold.woff') format('woff');   /* Modern Browsers */
  font-style: normal;
  font-weight: 600;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin 800 */
@font-face {
  font-family: 'Montserrat';
  src:  local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');   /* Modern Browsers */;
  font-style: normal;
  font-weight: 800;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/montserrat-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('fonts/montserrat-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v12-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v12-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/montserrat-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('fonts/montserrat-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v12-latin-800.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v12-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* All Devices*/
body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0;
}

/* Nav*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0 15px 0;
  z-index: 100;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%, rgba(255,255,255,0) 100%);
}

.navContent {
  max-width: 1200px;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.leftNav {
float: left;
}

.rightNav {
  text-align: right;
  float: right;
  width: 80%;
  padding-top: 12px;
}

.rightNavNoPadding {
  text-align: right;
  float: right;
  width: 20%;
}

.navItem {
  text-decoration: none;
  color: black;
  margin-left: 10%;
}

.closeButton {
  display: inline-block;
  border-radius: 50%;
  background: #4A4A4A;
  cursor: pointer;
  width: 45px;
  height: 45px;
  right: 0;
  box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
  transition: 0.4s;
}

.xbar1, .xbar2, .xbar3 {
  width: 21px;
  height: 1px;
  background-color: white;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  transition: 0.4s;
}

.allXBars{
  margin: 15px 0;
}

.xbar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
  transform: rotate(-45deg) translate(-5px, 5px) ;
}

.xbar2 {opacity: 0;}

.xbar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
  transform: rotate(45deg) translate(-5px, -5px) ;
}

/* Headers */
h1 {
	font-size: 72px;
	font-weight: 800;
	letter-spacing: -1px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
	font-size: 48px;
	font-weight: 600;
	letter-spacing: -1px;
  margin-top: 0;
}

h3 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -1px;
}

h4 {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -2px;
  margin-top: 10px
}

h5 {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;
}

/* Clears */
.clear {
    clear: both;
}

/* General Section*/

section {
  height: auto;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.sectionContent {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20vh;
  padding-bottom: 25vh;
}

/* Floating */
.floating1 {
  -webkit-animation-name: Floating1;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating1;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-func
}

@-webkit-keyframes Floating1{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(-3px, -8px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(-3px, -8px);}
    to {-moz-transform: translate(0, -0px);}
}

.floating2 {
  -webkit-animation-name: Floating2;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating2;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-func
}

@-webkit-keyframes Floating2{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(2px, -7px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(2px, -7px);}
    to {-moz-transform: translate(0, -0px);}
}

.floating3 {
  -webkit-animation-name: Floating3;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating3;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-func
}

@-webkit-keyframes Floating3{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0px, 14px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating3{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0px, 14px);}
    to {-moz-transform: translate(0, -0px);}
}

.floating4 {
  -webkit-animation-name: Floating4;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating4;
  -moz-animation-duration: 2.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-func
}

@-webkit-keyframes Floating4{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0px, 18px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating4{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0px, 18px);}
    to {-moz-transform: translate(0, -0px);}
}

.centredSectionContent {
  width: 65%;
  max-width: 660px;
  margin: 0 auto;
  padding-top: 30vh;
  padding-bottom: 25vh;
  text-align: center;
}

.grayBackground {
  background: linear-gradient(180deg, #FBFBFB 0%, #F7F7F7 89.72%, #F0F0F0 100%);
}

/* First Section */

.bubble {
  position: absolute;
  background: linear-gradient(128.09deg, rgba(97,97,97,0.1) 0%, #000000 100%);
  border-radius: 50%;
  z-index: 1;
}

#bubble1 {
  top: 28vh;
  left: 10%;
  height: 80px;
  width: 80px;
}
#bubble2 {
  top: 17vh;
  left: 30%;
  height: 30px;
  width: 30px;
}

#bubble3 {
  top: 22vh;
  right: 12%;
  height: 80px;
  width: 80px;
}

#bubble4 {
  top: 47vh;
  right: 15%;
  height: 18px;
  width: 18px;
}

#bubble5 {
  top: 68vh;
  left: 15%;
  height: 65px;
  width: 65px;
}

#bubble6 {
  top: 85vh;
  left: 38%;
  height: 25px;
  width: 25px;
}

#bubble7 {
  top: 84vh;
  right: 42%;
  height: 75px;
  width: 75px;
}

#bubble8 {
  top: 72vh;
  right: 15%;
  height: 50px;
  width: 50px;
}

.flexParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.leftSection {
  flex-grow: 1;
  width: 40%;
  margin-right: 20px;
  min-width: 250px;
}

.rightSection {
  flex-grow: 1;
  width: 40%;
  margin-left: 10%;
  min-width: 250px;
}

#iPhoneImage {
  width: 65%;
  margin-left: 35%;
}

.threeImages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 45%;
  min-width: 300px;
  height: auto;
  transition: all .2s ease-in-out;
}

.project:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02); /* Safari */
  transform: scale(1.02);
}

#projectLeft {
  margin-top: 40px;
  margin-right: 15px;
}

.projectImage {
  height: auto;
  width: auto;
  max-width: 100%;
  margin-bottom: 10px;
  transition: all .2s ease-in-out;
}

#projectItemTitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.projectTitle {
  margin-top: 0;
}

.posterImage {
  width: 30%;
  height: 30%;
  padding: 10px;
  margin: auto;
  justify-content: space-between;
  min-width: 150px;
}

.posterImageTopMargin {
  margin-top: 50px;
}

.posterImageNoMargin {
  margin-top: 0px;
}

button {
	height: 40px;
	width: auto;
	border-radius: 20px;
  border: none;
	box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
  -webkit-appearance: value;
  -moz-appearance:    value;
  appearance:         value;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -1px;
	text-align: center;
  padding: 9px 20px;
}

.buttonPrimary {
  	background-color: #FFFFFF;
}

.buttonPrimary:hover {
  box-shadow: 0 10px 10px 0 rgba(155,155,155,0.5);
}

.buttonPrimary:active {
  box-shadow: 0 8px 8px 0 rgba(155,155,155,0.5);
  background: rgb(250,250,250 );
}

.buttonPrimary:focus {

}

.buttonSecondary {
  background-color: #4A4A4A;;
  color: white;
}

.buttonSecondary:hover {
  box-shadow: 0 10px 10px 0 rgba(155,155,155,0.5);
}

.buttonSecondary:active {
  box-shadow: 0 8px 8px 0 rgba(155,155,155,0.5);
  background: rgb(50,50,50 );
}

/* Third Section */


.keySkills {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.skill {
  width: 300px;
  float: left;
  padding-bottom: 80px;
}

.skill ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skillTitle {
  margin-top: 0;
  margin-bottom: 16px;
}

/* Fourth Section */

.aboutImage {
  width: 40%;
  height: auto;
  flex-grow: 1;
  min-width: 250px;
  margin-right: 8%;
}

.aboutMeImage {
  width: 40%;
  height: auto;
  flex-grow: 1;
  min-width: 250px;
  margin-right: 8%;
  width: auto;
  max-width: 100%;
  max-height: 500px
}

.aboutText {
  width: 40%;
  height: auto;
  flex-grow: 1;
  min-width: 250px;
  margin: 4%;
}

#aboutMeHeader {
  margin-top: 0;
}

/* Fifth Section */

.sectionTitle {
  width: 300px;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

#getInTouchTitle {
  margin-top: 0;
}

.formWrapper {
  margin: auto;
  width: 300px;
  max-width: 100%;
  text-align: center;
}

input {
  width: 80%;
  margin: auto;
  border: 1px solid rgba(155,155,155,0.4);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  height: 25px;
  -webkit-appearance: none;
}

textarea {
  height: 180px;
  width: 80%;
  margin: auto;
  border: 1px solid rgba(155,155,155,0.4);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  padding-top: 8px;
  -webkit-appearance: none;
}

#formButton {
  margin: auto;
  margin-top: 40px;
  width: 150px;
}

/* Footer */
footer {
  width: 100%;
  min-height: 50px;
  height: auto;
  margin: auto;
  background: linear-gradient(180deg, #FBFBFB 0%, #F7F7F7 89.72%, #F0F0F0 100%);
}

.footerContent {
  width: 80%;
  max-width: 960px;
  margin: auto;
  padding: 20px 0 20px 0;
}

#footerTitle {
  margin: 36px 0 0 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Large Desktop */
@media screen and (min-width: 1441px) {

  .centredSectionContent {
    max-width: 800px;
  }

  h1 {
    font-size: 90px;
  }

}


/* Mobile and Tablet*/
@media screen and (max-width: 768px) {
  /* General*/
  .stop-scrolling {
  height: 100vh;
  overflow: hidden;
  }

/* Nav*/
  .rightNav {
    padding-top: 0;
    width: 20%;
  }

  .menu{
      display: none;
    }

  .menu.menu.show{
    display: flex;
    flex-flow: column;
    text-align: left;
    width: 100%;
    height: 100vh;
    background: white;
    margin-top: 15px;
    padding-top: 17px;
    position: absolute;
    left: 0;
  }

  .navItem {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .burgerContainer {
    display: inline-block;
    border-radius: 50%;
    background: #4A4A4A;
    cursor: pointer;
    width: 45px;
    height: 45px;
    right: 0;
    box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
  }

  .burgerContainerClose {
    display: inline-block;
    cursor: pointer;
    right: 0;
    box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
  }

  .bar1, .bar2, .bar3 {
      width: 21px;
      height: 1px;
      background-color: white;
      margin: auto;
      margin-top: 6px;
      margin-bottom: 6px;
      transition: 0.4s;
  }

  .allBars{
    margin: 15px 0;
  }

  .burgerContainerClose .bar1 {
      -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
      transform: rotate(-45deg) translate(-5px, 5px) ;
  }

  .burgerContainerClose .bar2 {opacity: 0;}

  .burgerContainerClose .bar3 {
      -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
      transform: rotate(45deg) translate(-5px, -5px) ;
  }

/* Headers */
  h1 {
  font-size: 38px;
  }

  h2 {
  font-size: 38px;
  }

  /* General Section*/
  .sectionContent {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }

  .centredSectionContent {
    width: 65%;
    max-width: 660px;
    margin: 0 auto;
    padding-top: 30vh;
    padding-bottom: 25vh;
    text-align: center;
  }

/* Bubbles */
  #bubble1 {
    top: 30vh;
    left: 3%;
    height: 20px;
    width: 20px;
  }
  #bubble2 {
    top: 17vh;
    left: 15%;
    height: 30px;
    width: 30px;
  }

  #bubble3 {
    top: 22vh;
    right: 1%;
    height: 30px;
    width: 30px;
  }

  #bubble4 {
    top: 14vh;
    right: 15%;
    height: 18px;
    width: 18px;
  }

  #bubble5 {
    top: 70vh;
    left: 5%;
    height: 65px;
    width: 65px;
  }

  #bubble6 {
    top: 86vh;
    left: 38%;
    height: 25px;
    width: 25px;
  }

  #bubble7 {
    top: 72vh;
    right: 22%;
    height: 15px;
    width: 15px;
  }

  #bubble8 {
    top: 78vh;
    right: 15%;
    height: 50px;
    width: 50px;
  }

  /* First Section */

  #iPhoneImage {
    display: none;
  }

  .leftSection {
    width: 100%;
    margin-right: 0;
  }

  .posterImage {
    width: 90%;
    height: 90%;
  }

  .posterImageNoMargin {
    margin-top: 50px;
  }

  /* First Section */
  .project {
    flex-grow: 1;
    margin: auto;
  }

  #projectLeft {
    padding-bottom: 80px;
  }

  /* Third Section */

  .noPaddingBottom {
    padding-bottom: 0;
  }

  /* Fourth Section */
  .aboutParent {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }

  .aboutImage {
    margin-left: 0;
    margin-right: 8%;
  }

  .aboutText {
    margin-left: 0;
    margin-right: 0;
  }

}

/* Desktop*/
@media screen and (min-width: 769px) {
  #Menu {
    display: none;
  }

}
