/*

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*/

/* All Devices*/
body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0;
}

/* Nav*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0 15px 0;
  z-index: 100;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%, rgba(255,255,255,0) 100%);
}

.navContent {
  max-width: 1200px;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.leftNav {
float: left;
}

.rightNav {
  text-align: right;
  float: right;
  width: 80%;
  padding-top: 12px;
}

.navItem {
  text-decoration: none;
  color: black;
  margin-left: 10%;

}

/* Headers */
h1 {
	font-size: 72px;
	font-weight: 800;
	letter-spacing: -1px;
  margin-bottom: 10px
}

h2 {
	font-size: 48px;
	font-weight: 600;
	letter-spacing: -1px;
  margin-top: 0;
}

h3 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -1px;
}

h4 {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -2px;
  margin-top: 10px
}

h5 {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;
}

/* Clears */
.clear {
    clear: both;
}

/* General Section*/
.sectionContent {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

/* Floating */
.floating1 {
  -webkit-animation-name: Floating1;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating1;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-func
}

@-webkit-keyframes Floating1{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(-3px, -8px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(-3px, -8px);}
    to {-moz-transform: translate(0, -0px);}
}

.floating2 {
  -webkit-animation-name: Floating2;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating2;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-func
}

@-webkit-keyframes Floating2{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(2px, -7px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(2px, -7px);}
    to {-moz-transform: translate(0, -0px);}
}

.floating3 {
  -webkit-animation-name: Floating3;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating3;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-func
}

@-webkit-keyframes Floating3{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0px, 14px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating3{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0px, 14px);}
    to {-moz-transform: translate(0, -0px);}
}

.floating4 {
  -webkit-animation-name: Floating4;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating4;
  -moz-animation-duration: 2.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-func
}

@-webkit-keyframes Floating4{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0px, 18px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating4{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0px, 18px);}
    to {-moz-transform: translate(0, -0px);}
}


/* First Section */
.firstSection .secondSection{
  height:auto;
  width: 100%;
  margin: 0 auto;
}

.centredSectionContent {
  width: 65%;
  max-width: 660px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 200px;
  text-align: center;
}

.bubblesParent {
}

.bubble {
  position: absolute;
  background: linear-gradient(128.09deg, rgba(97,97,97,0.1) 0%, #000000 100%);
  border-radius: 50%;
  z-index: 1;
}

#bubble1 {
  top: 200px;
  left: 10%;
  height: 80px;
  width: 80px;
}
#bubble2 {
  top: 120px;
  left: 30%;
  height: 30px;
  width: 30px;
}

#bubble3 {
  top: 170px;
  right: 12%;
  height: 80px;
  width: 80px;
}

#bubble4 {
  top: 350px;
  right: 15%;
  height: 18px;
  width: 18px;
}

#bubble5 {
  top: 550px;
  left: 15%;
  height: 65px;
  width: 65px;
}

#bubble6 {
  top: 540px;
  left: 38%;
  height: 25px;
  width: 25px;
}

#bubble7 {
  top: 540px;
  right: 42%;
  height: 75px;
  width: 75px;
}

#bubble8 {
  top: 490px;
  right: 15%;
  height: 50px;
  width: 50px;
}

/* Second Section */
.secondSection {
  height:736px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(180deg, #FBFBFB 0%, #F7F7F7 89.72%, #F0F0F0 100%);
}

.carouselBox {
  width: 100%;
  max-width: 840px;
  background: white;
  box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
  border-radius: 10px;
  margin: 0 auto;
}

.carouselTextAndImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carouselLeft {
  flex-grow: 1;
  width: 50%;
  min-width: 250px;
}

#carouselItemNumber {
  padding: 50px 0 0 30px;
  margin: 0;
}

#carouselItemTitle {
  padding: 0 0 0 30px;
  margin: 0;
}

.carouselRight {
  flex-grow: 1;
  width: 50%;
  min-width: 250px;
}

.carouselImage {
  width: 50%;
  height: auto;
  padding: 50px 0 0 0;
}

button {
	height: 40px;
	width: auto;
	border-radius: 20px;
  border: none;
	box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
  -webkit-appearance: value;
  -moz-appearance:    value;
  appearance:         value;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
	text-align: center;
  padding: 9px 20px;
}

.buttonPrimary {
  	background-color: #FFFFFF;
}

.buttonPrimary:hover {
  box-shadow: 0 10px 10px 0 rgba(155,155,155,0.5);
}

.buttonPrimary:active {
  box-shadow: 0 8px 8px 0 rgba(155,155,155,0.5);
  background: rgb(250,250,250 );
}

.buttonPrimary:focus {

}

#carouselButton {
  margin: 0 0 50px 30px;
}

/* Third Section */
.thirdSection {
  height:auto;
  width: 100%;
  margin: 0 auto;
}


.keySkills {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.skill {
  width: 300px;
  float: left;
  padding-bottom: 80px;
}

.skill ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#skillTitle {
  margin-top: 0;
  margin-bottom: 16px;
}

/* Fourth Section */
.fourthSection {
  height:auto;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(180deg, #FBFBFB 0%, #F7F7F7 89.72%, #F0F0F0 100%);
}

.aboutParent {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.aboutImage {
  width: 40%;
  height: auto;
  flex-grow: 1;
  min-width: 250px;
  margin: 5%;
}

.aboutMeImage {
  width: 100%;
}

.aboutText {
  width: 40%;
  height: auto;
  flex-grow: 1;
  min-width: 250px;
  margin: 5%;
}

#aboutMeHeader {
  margin-top: 0;
}

/* Fifth Section */


/* Footer */
footer {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

#footerTitle {
  margin: 36px 0 0 0;
}

a {
  text-decoration: none;
  color: black;
}


/* Mobile and Tablet*/
@media screen and (max-width: 768px) {

/* Nav*/
  .rightNav {
    padding-top: 0;
    width: 20%;
  }

  .menu{
      display: none;
    }

  .menu.menu.show{
    display: flex;
    flex-flow: column;
    text-align: left;
    width: 100%;
    height: 100vh;
    background: white;
    position: absolute;
    left: 0;
  }

  .navItem {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .burgerContainer {
    display: inline-block;
    cursor: pointer;
    right: 0;
  }

  .burgerContainerClose {
    display: inline-block;
    cursor: pointer;
    right: 0;
  }

  .bar1, .bar2, .bar3 {
      width: 35px;
      height: 2px;
      background-color: black;
      margin: 9px 0;
      transition: 0.4s;
  }

  .burgerContainerClose .bar1 {
      -webkit-transform: rotate(-45deg) translate(-8px, 6px) ;
      transform: rotate(-45deg) translate(-8px, 6px) ;
  }

  .burgerContainerClose .bar2 {opacity: 0;}

  .burgerContainerClose .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-8px, -8px) ;
  }

/* Headers */
  h1 {
  font-size: 38px;
  }

/* Bubbles */
  #bubble1 {
    top: 200px;
    left: 0%;
    height: 20px;
    width: 20px;
  }
  #bubble2 {
    top: 120px;
    left: 15%;
    height: 30px;
    width: 30px;
  }

  #bubble3 {
    top: 170px;
    right: 0%;
    height: 30px;
    width: 30px;
  }

  #bubble4 {
    top: 100px;
    right: 15%;
    height: 18px;
    width: 18px;
  }

  #bubble5 {
    top: 390px;
    left: 5%;
    height: 65px;
    width: 65px;
  }

  #bubble6 {
    top: 540px;
    left: 38%;
    height: 25px;
    width: 25px;
  }

  #bubble7 {
    top: 440px;
    right: 22%;
    height: 15px;
    width: 15px;
  }

  #bubble8 {
    top: 490px;
    right: 15%;
    height: 50px;
    width: 50px;
  }
}

/* Desktop*/
@media screen and (min-width: 769px) {
  #Menu {
    display: none;
  }

}
