section.section--light-blue
    .section__content.no-padding-bottom.no-padding-top
        .project-image--mobile
            img(data-src=require("../../../images/certius-audiences--mobile.svg"), alt="Audience analysis on Mobile")
        .project-image--laptop
            img(data-src=require("../../../images/certius-audiences--laptop.svg"), alt="Audience analysis on Laptop")