section.section--work
    .section__content-full-width
        .extra-padding-bottom.extra-padding-top
            h1.extra-margin-bottom Certius
            h4 Helping your business unlock the potentiat of Iran
        .flex--reverse.extra-padding-bottom.extra-padding-top.flex--end
            .content--extra-large
                h5 Context
                p Working with international and Iranian companies, Certius provide the services 
                    | needed to assess the market opportunity in Iran. Whether a business is looking 
                    | to enter the market, or develop their capabilities into a growing, sustainable 
                    | operation, Cerius are able to leverage their vast network across Iran’s business 
                    | community and public administration to help companies thrive.
            .content--extra-small
                h5 Key Deliverables
                p Market Research
                    | 
                    br 
                    | Competitor Analysis
                    br
                    | Website Design
                    br
        .flex.extra-padding-top
            .content--extra-large
                h5 Identifying Certius’ Key Audiences
                p By conducting market research and reviewing Certius’ current business model, it became 
                    | clear that the company had two distinct audience segments:
                ol
                    li Iranian businesses looking to improve their market access.
                    li International businesses looking to enter or grow their presents in the Iranian market.
                p Both of these could then be further broken down by their objective when interacting with 
                    | Certius:
                ol
                    li Senior managers and executives looking to assess the credibility of Certius as a key 
                        | business partner as well as understand its authority within the Iranian market.
                    li C-suite employees looking to determine the feasibility of exploiting Iran as an 
                        | under-utilised market.