section
    .section__content
        .content--extra-large
                h5 Understanding Audience Objectives to inform the New Website Structure
                p With Certius looking to extend its services it offered, increase its digital presence and 
                    | improve its lead generation, the decision was taken to  relaunch the website based upon 
                    | defined audience segments and key business objectives.

                p Through workshops with Certius and a thorough analysis of similar and competing businesses, 
                    | both in Iran and abroad, primary objectives were established for each of the key audience 
                    | segments. This then informed the information architecture, user flow and page structure 
                    | that the new site would need to follow. 
section.section--light-blue
    .section__content.no-padding-bottom.no-padding-top
        .project-image--mobile
            img(data-src=require("../../../images/certius-sitemap--mobile.svg"), alt="Sitemap on Mobile")
        .project-image--laptop
            img(data-src=require("../../../images/certius-sitemap--laptop.svg"), alt="Sitemap on Laptop")