section
    .section__content
        .content--extra-large
                h5 Designing a Site that Exuded Authority and Generated Inbound Leads 
                p Using the proposed page strucutre, the website was wireframed and then designed incorporating 
                    | key commonalities identified during the competitor analysis. This included aspects such as 
                    | a prominent company descriptor, engaging visual elements, minimalistic design, showcasing 
                    | of previous work or case studies, and enquiry forms displayed on multiple pages.

                p The final design incorporates abstract shapes contained within the logo, whilst using imagery 
                    | of Iran to convey the companies expertise and experience within the country. Key 
                    | calls-to-action where placed throughout each page, inviting users to view Certius’ 
                    | accomplishments and previous work, before making inbound enquires.
section.section--light-blue
    .section__content.no-padding-bottom.no-padding-top
        .project-image--mobile
            img(data-src=require("../../../images/certius-website--mobile.png"), alt="Website on Mobile")
        .project-image--laptop
            img(data-src=require("../../../images/certius-website--laptop.png"), alt="Website on Laptop")