section.section--thank-you
    .section__content-vertical-center
        h1.extra-margin-bottom I love Cristina
        h4.extra-margin-bottom We'll be in touch soon
        a(href='/')
            button.button--primary Go Back