section.section--grey#about-me
    .section__content.flex
        .content--large
            img.about-me(data-src=require("../../images/about-me.svg"), alt="about me image")
        .content--small
            .section__title
                h5 A Bit
                h2 About Me
            p Hello, I'm Aran
                p
                    | I work and live in London. I specialise in 
                    strong developing 
                    | and 
                    strong executing 
                    | creative 
                    strong projects 
                    | across 
                    strong digital 
                    | mediums. I complement a background in product 
                    strong management 
                    | with 
                    strong marketing, 
                    | creative, and 
                    strong technical 
                    | development skills.
