section
    .section__content
        .content--extra-large
                h5 An Elegant API Suite to Deliver Seemless Mortgage Journeys
                p Working with our customers, Koodoo created a suite of APIs which provide developers 
                    | with the tools they need to create easy and accessible experiences for their 
                    | users. Koodoo’s APIs are able to interrogate users’ credit files, and use 
                    | the data they identify to suggest mortgage products.

                p Koodoo’s API-first services also monitor the mortgage market each day, and notify 
                    | our partners when their users can save by remortgaging. We then send mortgage 
                    | product data to our partners, enabling them to deliver highly personalised email 
                    | campaigns to their users.