section.section--work-orange
    .section__content-full-width
        .extra-padding-bottom.extra-padding-top
            h1.extra-margin-bottom Koodoo
            h4 Powering the future of mortgages
        .flex--reverse.extra-padding-bottom.extra-padding-top.flex--end
            .content--extra-large
                h5 Context
                p Koodoo’s goal is to create a world where securing home financing is seamless and transparent. 
                    | They partner with industry leaders to unlock the potential of mortgages, harness personal 
                    | data, and connect borrowers with their next mortgage. Building technology to power mortgage 
                    | journeys for their partners, Koodoo helps them acquire and activate leads, segment and 
                    | engage their customers, and streamline mortgage applications.
            .content--extra-small
                h5 Key Deliverables
                p Marketing Website
                    | 
                    br 
                    | API Suite
                    br
        .flex.extra-padding-top
            .content--extra-large
                h5 A Marketing Site that Showcases Koodoo’s Offering
                p With the launch of the business, Koodoo needed a marketing website to help position 
                    | them as a leading authority in the mortgage technology space. The website needed 
                    | to clearly outline the pain points the business addresses for its customers, as 
                    | well as explain it’s various solutions. In addition to conveying an authoritative 
                    | tone, it was essential that the website present Koodoo as a software solution that 
                    | is easy to integrate with, as well as an attractive place to work for potential new 
                    | talent. 