section.section--light-purple
    .section__content.no-padding-bottom.no-padding-top
        .project-image--mobile
            img(src=require("../../../images/koodoo-website--mobile.svg"), alt="Website on Mobile")
        .project-image--laptop
            img(src=require("../../../images/koodoo-website--laptop.svg"), alt="Website on Laptop")