footer
    .footer__content
        .footer__left
            img.logo--black(data-src=require("../../images/logo--black.svg"), alt="black logo")
            h4.extra-margin-bottom Aran Bruce-Caddick
            a(href="mailto:aran.brucecaddick@gmail.com?Subject=Hello", target="_top") aran.brucecaddick@gmail.com
            .social.extra-margin-top
                a(href="https://www.linkedin.com/in/aran-bruce-caddick-a67b6790/", target="_blank", rel="noopener")
                    img.linkedIn(data-src=require("../../images/linkedIn.svg"), alt="LinkedIn Icon")
                a(href="https://www.github.com/aranbruce", target="_blank", rel="noopener")
                    img.github(data-src=require("../../images/github.svg"), alt="Github Icon")
        .footer__right
            .footer-subsection
                .footer-subsection-title.extra-margin-bottom Site
                .footer-subsection-content
                    ul
                        li 
                            a(href='#work') Work
                        li 
                            a(href='#skills') Skills
                        li 
                            a(href='#form') Get in Touch
            .footer-subsection
                .footer-subsection-title.extra-margin-bottom Legals
                .footer-subsection-content
                    ul
                        li Cookie Policy
