section.section--404
    .section__content-vertical-center
        h1.centre-text Error
        h4.centre-text.extra-margin-bottom Looks like something went wrong, how embarrasing
        img.error--desktop(src=require("../../../images/404-image--desktop.svg"), alt="404 image")
        img.error--mobile(src=require("../../../images/404-image--mobile.svg"), alt="404 image")
        a(href='/')
            button.button--primary Back to Safety
