//- variables
- var title = "CitySnapp";
- var metaDescription = "CitySnapp - Native App by Aran Bruce-Caddick.";

//- head
include ../partials/meta.pug
//- body
body#body
    include ../partials/navigation-alt.pug
    include ../partials/sectionHeaderCitySnapp.pug
    include ../partials/sectionOnboarding.pug
    include ../partials/sectionDiscovering.pug
    include ../partials/sectionPlanning.pug
    include ../partials/sectionSharing.pug
    include ../partials/footer.pug
    //- scripts
    script(src='scripts/scripts.bundle.js')
    
