//- head
extends ../layouts/layout.pug
block head
    - var title = 'Work - Citysnapp'
    - var metaDescription ='Work done for CitySnapp - Native and Web Application, and Marketing Website.'
    - var canonical = 'https://www.aranbc.com/citysnapp'

//- body
block body
    include ../partials/globals/navigation--main.pug
    include ../partials/sections/citysnapp/header--citysnapp.pug
    include ../partials/sections/citysnapp/webapp.pug
    include ../partials/sections/citysnapp/website.pug
    include ../partials/globals/footer.pug
    //- scripts
    script(src='scripts/main.js')
    
