//- head
extends ../layouts/layout.pug
block head
    - var title = 'CitySnapp'
    - var metaDescription ='CitySnapp - Native App by Aran Bruce-Caddick.'

//- body
block body
    include ../partials/globals/navigation--main.pug

    include ../partials/globals/footer.pug
    //- scripts
    script(src='scripts/main.js')
    
