//- head
extends ../layouts/layout.pug
block head
    - var title = 'CitySnapp'
    - var metaDescription ='CitySnapp - Native App by Aran Bruce-Caddick.'

//- body
block body
    include ../partials/navigation--alt.pug
    include ../partials/section__header--citySnapp.pug
    include ../partials/section__onboarding.pug
    include ../partials/section__discovering.pug
    include ../partials/section__planning.pug
    include ../partials/section__sharing.pug
    include ../partials/footer.pug
    //- scripts
    script(src='scripts/scripts.bundle.js')
    
