//- head
extends ../layouts/layout.pug
block head
    - var title = 'Aran Bruce-Caddick'
    - var metaDescription = 'Creating Digital Experiences. Specialising in developing and executing creative projects across digital mediums.'

//- body
block body
    include ../partials/navigation--main.pug
    include ../partials/section__header--home.pug
    include ../partials/section__projects.pug
    include ../partials/section__keySkills.pug
    include ../partials/section__aboutMe.pug
    include ../partials/section__getInTouch.pug
    include ../partials/footer.pug
    //- scripts
    script(src='scripts/main.js')