//- variables
- var title = "Aran Bruce-Caddick";
- var metaDescription = "Creating Digital Experiences. Specialising in developing and executing creative projects across digital mediums.";

//- head
include ../partials/meta.pug
//- body
body#body
    include ../partials/navigation-main.pug
    include ../partials/sectionHeaderHome.pug
    include ../partials/sectionProjects.pug
    include ../partials/sectionKeySkills.pug
    include ../partials/sectionAboutMe.pug
    include ../partials/sectionGetInTouch.pug
    include ../partials/footer.pug
    //- scripts
    script(src='scripts/scripts.bundle.js')
    script(src='scripts/swRegister.js')

    
