//- head
extends ../layouts/layout.pug
block head
    - var title = 'Thank You Page'
    - var metaDescription ='Thank you for signing up, we\'ll be in touch shortly.'

//- body
block body
    include ../partials/section__thankYou.pug
    //- scripts
    script(src='scripts/scripts.bundle.js')