//- head
extends ../layouts/layout.pug
block head
    - var title = 'Thank You Page'
    - var metaDescription ='Thank you for signing up, we\'ll be in touch shortly.'

//- body
block body
    include ../partials/globals/navigation--main.pug

    include ../partials/sections/thankyou/thankyou.pug

    include ../partials/globals/footer.pug
    //- scripts
    script(src='scripts/main.js')