section
    .section__content
        .content--extra-large
                h5 Building a Bespoke CRM System for Mortgages
                p To ensure back-office efficiency and great customer service,we created our own 
                    | internal software that managed customer interactions and data throughout the 
                    | customer lifecycle.
                p Our solution was tailored specifically to the mortgage process, with user 
                    | permissions, case progression, and the information architecture created to 
                    | the ensure we could progress mortgage applications quickly and compliantly.
                p Building our own CRM system also allowed us to move at speed when it came to 
                    | prioritising and executing  on opportunities to automate many areas of our 
                    | processes. This resulted in our daily operations running more efficiently 
                    | whilst ensuring our different departments where all able to benefit from 
                    | the results.
section.section--light-yellow
    .section__content.no-padding-bottom.no-padding-top
        .project-image--mobile
            img(src=require("../../../images/crm--mobile.svg"), alt="CRM on Mobile")
        .project-image--laptop
            img(src=require("../../../images/crm--laptop.svg"), alt="CRM on Laptop")