section.section--work
    .section__content-full-width
        .extra-padding-bottom.extra-padding-top
            h1.extra-margin-bottom Dynamo
            h4 Get Mortgage Power
        .flex--reverse.extra-padding-bottom.extra-padding-top.flex--end
            .content--extra-large
                h5 Context
                p Developed in partnership with Blenheim Chalcot (the UK’s leading venture builder) 
                    | and Countrywide (the UK’s largest mortgage broker), Dynamo is a brand new way to 
                    | sort your mortgage digitally. With the firmly held belief that everyone deserves 
                    | to get the best deal on their mortgage, Dynamo is on a mission to help people get 
                    | expert mortgage advice, for free.
            .content--extra-small
                h5 Key Deliverables
                p Marketing Website
                    | 
                    br 
                    | Web Application
                    br
                    | Internal CRM Application
        .flex.extra-padding-top
            .content--extra-large
                h5 Creating a Website that Drives Customer Acquisition
                p In support of its web application, Dynamo needed a marketing website whose primary purpose was 
                    | to drive customer acquisition.  To achieve this, the website features multiple calls-to-action 
                    | inviting users to ‘Get Started’. These are supplemented by clearly outlined value propositions, 
                    | and lender partner logos to convey an authoritative tone. Dynamo’s price point for the customer 
                    | is also clearly  refered to in the heading, in the line “No fees, no fuss.” 