section.section--aqua
    .section__content.no-padding-bottom.no-padding-top
        .project-image--mobile
            img(src=require("../../../images/website--mobile.svg"), alt="Website on Mobile")
        .project-image--laptop
            img(src=require("../../../images/website--laptop.svg"), alt="Website on Laptop")
        
