footer
    .footerContent
        h5#footerTitle Contact Details
        p
            a(href="mailto:aran.brucecaddick@gmail.com?Subject=Hello", target="_top") aran.brucecaddick@gmail.com
        p
            a(href="https://www.linkedin.com/in/aran-bruce-caddick-a67b6790/", target="_blank", rel="noopener") LinkedIn
        p
            a(href="https://www.github.com/aranbruce", target="_blank", rel="noopener") Github