nav
    .nav__content
        .nav__left
            a(href='/')
                img(src=require("../images/logo.svg"), alt="ABC logo")
        .nav__right
            //- Mobile Burger Menu
            .burger-container#burger
                .allBars
                    .bar1
                    .bar2
                    .bar3
            //- Desktop Menu
            .menu#menu
                a.nav__item(href='#projects') Projects
                a.nav__item(href='#keySkills') Key Skills
                a.nav__item(href='#getInTouch') Get In Touch