nav
    .navContent
        .leftNav
            a(href='/')
                img(src=require("../images/logo.svg"), alt="ABC logo")
        .rightNav
            //- Close X Menu
            .closeButton#close(onclick="window.location.href='../#projects'")
                .allXBars
                    .xbar1
                    .xbar2
                    .xbar3