nav
    .navContent
        .leftNav
            a(href='/')
                img(src=require("../images/logo.svg"), alt="ABC logo")
        .rightNav
            //- Mobile Burger Menu
            .burgerContainer#burger
                .allBars
                    .bar1
                    .bar2
                    .bar3
            //- Desktop Menu
            .menu#menu
                a.navItem(href='#projects') Projects
                a.navItem(href='#keySkills') Key Skills
                a.navItem(href='#getInTouch') Get In Touch