nav
    .nav__content
        .nav__left
            a(href='/')
                img(src=require("../images/logo.svg"), alt="ABC logo")
        .nav__right
            //- Close X Menu
            .button__close#close(onclick="window.location.href='../#projects'")
                .allXBars
                    .xbar1
                    .xbar2
                    .xbar3