section.background--gray
    .section__content
        h5 - 04
        h2 Planning
        .section__three-images
            img.poster-image.poster-image--top-margin(data-src=require("../images/planning1.png"), alt="activity page")
            img.poster-image.poster-image--no-margin(data-src=require("../images/planning2.png"), alt="add to planner page")
            img.poster-image.poster-image--top-margin(data-src=require("../images/planning3.png"), alt="planned confirmation message")