section.grayBackground
  .sectionContent.flexParent
    .aboutImage
      img.aboutMeImage(data-src=require("../images/aboutMe.png"), alt="Aran Bruce-Caddick")
    .aboutText
      h5 A Bit
      h2#aboutMeTitle About Me
      p Hello, I'm Aran
      p
        | I work and live in London, specialising in 
        strong developing 
        | and 
        strong executing 
        | creative 
        strong projects 
        | across 
        strong digital 
        | mediums. I do this by complementing a background in project 
        strong management 
        | with 
        strong marketing, 
        | creative and 
        strong technical 
        | development skills.