section#getInTouch
    .section__content
        .section__title
            h5#getInTouchSubtitle Got an Interesting Project or Idea?
            h2#get-in-touch-title Get in Touch
            form#enquiryForm
                .form__wrapper
                    input(type="text", name="NAME", placeholder="Name" required)
                    input(type="email", name="EMAIL", placeholder="Email" required)
                    input(type="text", name="SUBJECT", placeholder="Subject" required)
                    textarea(name="MESSAGE",placeholder="Message" required)
                    button.button--primary#formButton(type="submit", value="Send") Send