section#keySkills
    .sectionContent
        h5 A summary of my
        h2 Skills
        .keySkills
            .skill
                h5 - 01
                h3.skillTitle Website Development
                ul
                    li - HTML, CSS, Pug, Sass
                    li - Git
                    li - SEO
                    li - CMS Management
                    li - Google Analytics
            .skill
                h5 - 02
                h3.skillTitle Product &amp; Project Management
                ul
                    li - JIRA
                    li - Confluence
                    li - Trello
                    li - Scrum Mastery
                    li - Team Management
                    
            .skill.noPaddingBottom
                h5 - 03
                h3.skillTitle Agile Delivery Process
                ul
                    li - Sprint Planning
                    li - Story Specifications
                    li - Acceptance Criteria
                    li - Agile Ceremonies
                    li - Iterative Learning