section
    .section__content
        h5 - 03
        h2 Discovering Activities
        .section__three-images
            img.poster-image.poster-image--top-margin(data-src=require("../images/discover1.png"), alt="browse categories screen")
            img.poster-image.poster-image--no-margin(data-src=require("../images/discover2.png"), alt="browse locally screen")
            img.poster-image.poster-image--top-margin(data-src=require("../images/discover3.png"), alt="search screen")
