section
    .sectionContent.centredSectionContent
        h1 Thank You
        h4 We'll get back to you as soon as possible
        button.buttonSecondary(onclick="window.location.href='/'", type="button",) Go Back