section
    .sectionContent.flexParent
        .leftSection
            h5 Designing a Native App
            h1 CitySnapp
            h5 - 01
            h2 Background
            p CitySnapp is a free Android, iOS and web-based app designed to help people easily plan activities in their local area. Going beyond pure discovery, it also doubles as a personal planner and social network to help people see what their friends and influencers have also been up to.
            p The app allows users to browse activities, either by category or location. Then, once they've found something they like, they can save it for later, put it straight in their planner, or share it with their friends.
        .rightSection
            img#iPhoneImage(data-src=require("../images/iPhoneImage.png"), alt="CitySnapp splashscreen on iPhone")