section
    .section__content
        h5 - 05
        h2 Sharing
        .section__three-images
            img.poster-image.poster-image--top-margin(data-src=require("../images/sharing1.png"), alt="connect page")
            img.poster-image.poster-image--no-margin(data-src=require("../images/sharing2.png"), alt="friends' activities page")
            img.poster-image.poster-image--top-margin(data-src=require("../images/sharing3.png"), alt="profile page")