section.background--gray
  .section__content.flex-parent
    .about-image
      img.about-me-image(data-src=require("../images/aboutMe.png"), alt="Aran Bruce-Caddick")
    .about-text
      h5 A Bit
      h2#about-me-title About Me
      p Hello, I'm Aran
      p
        | I work and live in London, specialising in 
        strong developing 
        | and 
        strong executing 
        | creative 
        strong projects 
        | across 
        strong digital 
        | mediums. I do this by complementing a background in project 
        strong management 
        | with 
        strong marketing, 
        | creative and 
        strong technical 
        | development skills.