section.grayBackground
    .sectionContent
        h5 - 04
        h2 Planning
        .threeImages
            img.posterImage.posterImageTopMargin(data-src=require("../images/planning1.png"), alt="activity page")
            img.posterImage.posterImageNoMargin(data-src=require("../images/planning2.png"), alt="add to planner page")
            img.posterImage.posterImageTopMargin(data-src=require("../images/planning3.png"), alt="planned confirmation message")