section
    .sectionContent.centredSectionContent
        h1 Crafting Digital Experiences
        h4 Aran Bruce-Caddick
    .backgroundShapesParent
        img.backgroundShape.floating1#backgroundShape1(src="images/crescentLarge.svg", alt="crescent shape")
        img.backgroundShape.floating2#backgroundShape2(src="images/triangleSmall.svg", alt="triangle shape")
        img.backgroundShape.floating3#backgroundShape3(src="images/rectangleLarge.svg" alt="rectangle shape")
        img.backgroundShape.floating4#backgroundShape4(src="images/crescentSmall.svg", alt="crescent shape")
        img.backgroundShape.floating2#backgroundShape5(src="images/circleLarge.svg", alt="circle shape")
        img.backgroundShape.floating4#backgroundShape6(src="images/rectangleSmall.svg", alt="rectangle shape")
        img.backgroundShape.floating1#backgroundShape7(src="images/circleSmall.svg", alt="circle shape")
        img.backgroundShape.floating3#backgroundShape8(src="images/triangleLarge.svg", alt="triangle shape")