section.grayBackground#projects
    .sectionContent
        h5  Some  of My
        h2 Projects
        .projectsContainer
            .project#projectLeft(onclick="window.location.href='citysnapp'")
                img.projectImage(data-src="images/citysnappProject.png", alt="CitySnapp")
                h5 - 01
                h3.projectTitle Native App
                h5 View Project
            .project
                img.projectImage(data-src="images/comingSoon.png", alt="Coming Soon")
                h5 - 02
                h3.projectTitle Coming Soon
                h5 View Project