section
    .sectionContent
        h5 - 05
        h2 Sharing
        .threeImages
            img.posterImage.posterImageTopMargin(data-src="../images/sharing1.png", alt="connect page")
            img.posterImage.posterImageNoMargin(data-src="../images/sharing2.png", alt="friends' activities page")
            img.posterImage.posterImageTopMargin(data-src="../images/sharing3.png", alt="profile page")