section#getInTouch
    .sectionContent
        .sectionTitle
            h5#getInTouchSubtitle Got an Interesting Project or Idea?
            h2#getInTouchTitle Get in Touch
            form#enquiryForm
                .formWrapper
                    input(type="text", name="NAME", placeholder="Name" required)
                    input(type="email", name="EMAIL", placeholder="Email" required)
                    input(type="text", name="SUBJECT", placeholder="Subject" required)
                    textarea(name="MESSAGE",placeholder="Message" required)
                    button.buttonPrimary#formButton(type="submit", value="Send") Send