section
    .sectionContent
        h5 - 03
        h2 Discovering Activities
        .threeImages
            img.posterImage.posterImageTopMargin(data-src="../images/discover1.png", alt="browse categories screen")
            img.posterImage.posterImageNoMargin(data-src="../images/discover2.png", alt="browse locally screen")
            img.posterImage.posterImageTopMargin(data-src="../images/discover3.png", alt="search screen")
