section.section--background-gray#projects
    .section__content
        h5  Some  of My
        h2 Projects
        .section__projects-container
            .section__project#project--left(onclick="window.location.href='citysnapp'")
                img.project-image(data-src=require("../images/citysnappProject.png"), alt="CitySnapp")
                h5 - 01
                h3.project__title Native App
                h5 View Project
            .section__project
                img.project-image(data-src=require("../images/comingSoon.png"), alt="Coming Soon")
                h5 - 02
                h3.project__title Coming Soon
                h5 View Project