section.background--gray
    .section__content
        h5 - 02
        h2 Onboarding
        .section__three-images
            img.poster-image.poster-image--top-margin(data-src=require("../images/search.png"), alt="onboarding screen")
            img.poster-image.poster-image--no-margin(data-src=require("../images/login.png"), alt="login screen")
            img.poster-image.poster-image--top-margin(data-src=require("../images/goodToGo.png"), alt="set up screen")