/* Borders for All components */
/*

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*/

/* Definitions */
/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400; 
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
       url('../fonts/nunito-sans-v3-latin-regular.eot') format("eot"), /* IE9 Compat Modes */
       url('../fonts/nunito-sans-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans-v3-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-700 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
       url('../fonts/nunito-sans-v3-latin-700.eot') format("eot"), /* IE9 Compat Modes */
       url('../fonts/nunito-sans-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans-v3-latin-700.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-900 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Nunito Sans Black'), local('NunitoSans-Black'),
       url('../fonts/nunito-sans-v3-latin-900.eot') format("eot"), /* IE9 Compat Modes */
       url('../fonts/nunito-sans-v3-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans-v3-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans-v3-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans-v3-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans-v3-latin-900.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* All Devices*/
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0;
}

/* Nav*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  z-index: 100;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%, rgba(255,255,255,0) 100%);
  transition: all .2s ease-in-out;
}

.nav--scroll {
  box-shadow: 0 10px 20px 0 rgba(152,152,152,.05)
}

.nav__content {
  max-width: 1200px;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.nav__left {
  float: left;
  padding-top: 5px;
}

.nav__right {
  text-align: right;
  float: right;
  width: 80%;
  padding-top: 3px;
  line-height: 46px;
  height: 46px;
}

.nav__item {
  text-decoration: none;
  color: black;
  margin-left: 10%;
}

.button__close {
  display: inline-block;
  border-radius: 50%;
  background: #2B2B2B;
  cursor: pointer;
  width: 45px;
  height: 45px;
  right: 0;
  box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
  transition: 0.4s;
}

.xbar1, .xbar2, .xbar3 {
  width: 21px;
  height: 1px;
  background-color: white;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  transition: 0.4s;
}

.allXBars{
  margin: 15px 0;
}

.xbar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
  transform: rotate(-45deg) translate(-5px, 5px) ;
}

.xbar2 {opacity: 0;}

.xbar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
  transform: rotate(45deg) translate(-5px, -5px) ;
}

/* Headers */
h1 {
	font-size: 72px;
	font-weight: 900;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
	font-size: 48px;
	font-weight: 700;
  margin-top: 0;
}

h3 {
	font-size: 36px;
	font-weight: 700;
}

h4 {
	font-size: 24px;
	font-weight: 700;
  margin-top: 10px
}

h5 {
	font-size: 18px;
	font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

/* Clears */
.clear {
    clear: both;
}

/* General Section*/

section {
  height: auto;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.section__content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.section__content--centred {
  width: 70%;
  max-width: 660px;
  margin: 0 auto;
  padding-top: 36vh;
  padding-bottom: 25vh;
  text-align: center;
  text-align: -webkit-center
}

.background--gray {
  background: linear-gradient(180deg, #FBFBFB 0%, #F7F7F7 89.72%, #F0F0F0 100%);
}

footer {
  width: 100%;
  min-height: 50px;
  height: auto;
  margin: auto;
  background: linear-gradient(180deg, #FBFBFB 0%, #F7F7F7 89.72%, #F0F0F0 100%);
}

.background--shapes-parent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Floating */
.floating1 {
  animation-name: Floating1;
  animation-name: Floating1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes Floating1{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(-3px, -8px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(-3px, -8px);}
    to {-moz-transform: translate(0, -0px);}
}

.floating2 {
  animation-name: Floating2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes Floating2{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(2px, -7px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(2px, -7px);}
    to {-moz-transform: translate(0, -0px);}
}

.floating3 {
  animation-name: Floating3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes Floating3{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0px, 14px);}
    to {-webkit-transform: translate(0, -0px);    }
}

.floating4 {
  animation-name: Floating4;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes Floating4{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0px, 18px);}
    to {-webkit-transform: translate(0, -0px);    }
}

/* Flex Grid */

.flex-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Sub Containers */

.section__left {
  flex-grow: 1;
  width: 40%;
  margin-right: 20px;
  min-width: 250px;
}

.section__right {
  flex-grow: 1;
  width: 40%;
  margin-left: 10%;
  min-width: 250px;
}

.section__three-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.section__projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section__project {
  width: 45%;
  min-width: 300px;
  height: auto;
  transition: all .2s ease-in-out;
}

.section__project:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02); /* Safari */
  transform: scale(1.02);
}

#project--left {
  margin-top: 40px;
}

.key-skills {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.skill {
  width: 300px;
  float: left;
  padding-bottom: 80px;
}

.skill ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skill__title {
  margin-top: 0;
  margin-bottom: 16px;
}

.about-text {
  width: 40%;
  height: auto;
  flex-grow: 1;
  min-width: 250px;
  margin: 4%;
}

.form__wrapper {
  margin: auto;
  width: 320px;
  max-width: 100%;
  text-align: center;
  text-align: -webkit-center;
}

input {
  width: 90%;
  height: 35px;
  margin: auto;
  border: 1px solid rgba(155,155,155,0.4);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  -webkit-appearance: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

textarea {
  height: 180px;
  width: 90%;
  margin: auto;
  border: 1px solid rgba(155,155,155,0.4);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  padding-top: 5px;
  -webkit-appearance: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.background-shape {
  position: absolute;
  z-index: 1;
}

#background-shape-1 {
  top: 17vh;
  left: 10%;
  height: auto;
  width: 12%;
}
#background-shape-2 {
  top: 21vh;
  left: 40%;
  height: auto;
  width: 5%;
}

#background-shape-3 {
  top: 13vh;
  right: 24%;
  height: auto;
  width: 13%;
}

#background-shape-4 {
  top: 29vh;
  right: 12%;
  height: auto;
  width: 8%;
}

#background-shape-5 {
  top: 68vh;
  left: 7%;
  height: auto;
  width: 10%;
}

#background-shape-6 {
  top: 85vh;
  left: 35%;
  height: auto;
  width: 8%;
}

#background-shape-7 {
  top: 84vh;
  right: 26%;
  height: auto;
  width: 4%;
}

#background-shape-8 {
  top: 55vh;
  right: 8%;
  height: auto;
  width: 9%;
}

.footerContent {
  width: 80%;
  max-width: 960px;
  margin: auto;
  padding: 20px 0 20px 0;
}

/* Titles */

.project__title {
  margin-top: 0;
  margin-bottom: 24px;
}

.section__title {
  width: 320px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  text-align: -webkit-center;
}

#get-in-touch-title {
  margin-top: 0;
}

#about-me-title {
  margin-top: 0;
}

#footer-title {
  margin: 36px 0 0 0;
}

/* Images */

#iPhone-image {
  width: 65%;
  margin-left: 35%;
}

.project-image {
  height: auto;
  width: auto;
  max-width: 100%;
  margin-bottom: 10px;
  transition: all .2s ease-in-out;
}

.poster-image {
  width: 30%;
  height: 30%;
  padding: 10px;
  margin: auto;
  justify-content: space-between;
  min-width: 150px;
}

.poster-image--top-margin {
  margin-top: 50px;
}

.poster-image--no-margin {
  margin-top: 0px;
}

.about-image {
  width: 40%;
  height: auto;
  flex-grow: 1;
  min-width: 200px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.about-me-image {
  width: 40%;
  height: auto;
  flex-grow: 1;
  min-width: 200px;
  justify-content: space-between;
  width: auto;
  max-width: 100%;
  max-height: 500px
}

/* Buttons */

button {
	height: 40px;
	width: auto;
  min-width: 120px;
	border-radius: 5px;
  border: none;
	box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
	font-size: 18px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
	text-align: center;
  text-align: -webkit-center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  transition: ease-in-out 0.15s;
}

button:hover {
  box-shadow: 0 10px 10px 0 rgba(155,155,155,0.5);
}

button:active {
  box-shadow: 0 8px 8px 0 rgba(155,155,155,0.5);
}

.button--primary {
  background-color: #2B2B2B;
  color: white;
}

.button--primary:active {
  background: rgba(43,43,43,0.9);
}

.button--secondary {
  background-color: #ffffff;
  color: #2B2B2B;
}

.button--secondary:active {
  background: rgba(43,43,43,0.02);
}

/* Links */

a {
  text-decoration: none;
  color: black;
}

/* Large Desktop */
@media screen and (min-width: 1441px) {
  /* Sections */
  .section__content--centred {
    max-width: 800px;
  }
  /* Headers */
  h1 {
    font-size: 90px;
  }

}


/* Mobile and Tablet*/
@media screen and (max-width: 768px) {
  /* General*/
  .stop-scrolling {
  height: 100vh;
  overflow: hidden;
  }

/* Nav*/
  .nav__right {
    padding-top: 3px;
    width: 20%;
    height: 46px;
  }

  .menu{
      display: none;
    }

  .show{
    display: flex;
    flex-flow: column;
    text-align: left;
    width: 100%;
    height: 100vh;
    background: white;
    margin-top: -5px;
    padding-top: 25px;
    position: absolute;
    left: 0;
  }

  .nav__item {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .burger-container {
    display: inline-block;
    border-radius: 50%;
    background: #2B2B2B;
    cursor: pointer;
    width: 45px;
    height: 45px;
    right: 0;
    box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
  }

  .burger-container--close {
    display: inline-block;
    cursor: pointer;
    right: 0;
    box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
  }

  .bar1, .bar2, .bar3 {
      width: 21px;
      height: 1px;
      background-color: white;
      margin: auto;
      margin-top: 6px;
      margin-bottom: 6px;
      transition: 0.4s;
  }

  .allBars{
    margin: 15px 0;
  }

  .burger-container--close .bar1 {
      -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
      transform: rotate(-45deg) translate(-5px, 5px) ;
  }

  .burger-container--close .bar2 {opacity: 0;}

  .burger-container--close .bar3 {
      -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
      transform: rotate(45deg) translate(-5px, -5px) ;
  }

  /* Headers */
  h1 {
  font-size: 42px;
  }

  h2 {
  font-size: 36px;
  }

  h3 {
  font-size: 28px;
  }

  h4 {
  font-size: 20px;
  }

  /* Sections*/
  .section__content {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }

  .section__content--centred {
    width: 65%;
    max-width: 660px;
    margin: 0 auto;
    padding-top: 36vh;
    padding-bottom: 25vh;
    text-align: center;
    text-align: -webkit-center;
  }

  /* Sub Containers */
  .section__left {
    width: 100%;
    margin-right: 0;
  }

  .section__project {
    min-width: 100%;
    margin: auto;
  }

  #project--left {
    padding-bottom: 80px;
    margin-right: 0px;
  }

  .noPaddingBottom {
    padding-bottom: 0;
  }

  .about-text {
    margin-left: 0;
    margin-right: 0;
  }

  #background-shape-1 {
    top: 30vh;
    left: 3%;
    height: 80px;
    width: 80px;
  }
  #background-shape-2 {
    top: 17vh;
    left: 22%;
    height: 40px;
    width: 40px;
  }

  #background-shape-3 {
    top: 16vh;
    right: 20%;
    height: 80px;
    width: 80px;
  }

  #background-shape-4 {
    top: 30vh;
    right: 5%;
    height: 40px;
    width: 40px;
  }

  #background-shape-5 {
    top: 70vh;
    left: 3%;
    height: 70px;
    width: 70px;
  }

  #background-shape-6 {
    top: 78vh;
    left: 30%;
    height: 65px;
    width: 65px;
  }

  #background-shape-7 {
    top: 90vh;
    right: 28%;
    height: 30px;
    width: 30px;
  }

  #background-shape-8 {
    top: 70vh;
    right: 4%;
    height: 90px;
    width: 90px;
  }

  /* Images */

  #iPhone-image {
    display: none;
  }

  .poster-image {
    width: 90%;
    height: 90%;
  }

  .poster-image--no-margin {
    margin-top: 50px;
  }

  .about-image {
    margin: auto;
  }

}

/* Desktop*/
@media screen and (min-width: 769px) {
  #Menu {
    display: none;
  }
}

/*Mobile*/
@media screen and (max-width: 375px) {
  .section__content--centred {
    width: 80%;
  }

}