/* Borders for All components */
/*

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*/

/* Definitions */
/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400; 
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
       url('../fonts/nunito-sans-v3-latin-regular.eot') format("eot"), /* IE9 Compat Modes */
       url('../fonts/nunito-sans-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans-v3-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-700 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
       url('../fonts/nunito-sans-v3-latin-700.eot') format("eot"), /* IE9 Compat Modes */
       url('../fonts/nunito-sans-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans-v3-latin-700.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-900 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Nunito Sans Black'), local('NunitoSans-Black'),
       url('../fonts/nunito-sans-v3-latin-900.eot') format("eot"), /* IE9 Compat Modes */
       url('../fonts/nunito-sans-v3-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-sans-v3-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-sans-v3-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-sans-v3-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-sans-v3-latin-900.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* All Devices*/
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0;
}

/* Nav*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0 15px 0;
  z-index: 100;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%, rgba(255,255,255,0) 100%);
}

.navContent {
  max-width: 1200px;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.leftNav {
  float: left;
  padding-top: 2px;
}

.rightNav {
  text-align: right;
  float: right;
  width: 80%;
  padding-top: 12px;
}

.rightNavNoPadding {
  text-align: right;
  float: right;
  width: 20%;
}

.navItem {
  text-decoration: none;
  color: black;
  margin-left: 10%;
}

.closeButton {
  display: inline-block;
  border-radius: 50%;
  background: #2B2B2B;
  cursor: pointer;
  width: 45px;
  height: 45px;
  right: 0;
  box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
  transition: 0.4s;
}

.xbar1, .xbar2, .xbar3 {
  width: 21px;
  height: 1px;
  background-color: white;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  transition: 0.4s;
}

.allXBars{
  margin: 15px 0;
}

.xbar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
  transform: rotate(-45deg) translate(-5px, 5px) ;
}

.xbar2 {opacity: 0;}

.xbar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
  transform: rotate(45deg) translate(-5px, -5px) ;
}

/* Headers */
h1 {
	font-size: 72px;
	font-weight: 900;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
	font-size: 48px;
	font-weight: 700;
  margin-top: 0;
}

h3 {
	font-size: 36px;
	font-weight: 700;
}

h4 {
	font-size: 24px;
	font-weight: 700;
  margin-top: 10px
}

h5 {
	font-size: 18px;
	font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

/* Clears */
.clear {
    clear: both;
}

/* General Section*/

section {
  height: auto;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.sectionContent {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.centredSectionContent {
  width: 70%;
  max-width: 660px;
  margin: 0 auto;
  padding-top: 36vh;
  padding-bottom: 25vh;
  text-align: center;
  text-align: -webkit-center
}

.grayBackground {
  background: linear-gradient(180deg, #FBFBFB 0%, #F7F7F7 89.72%, #F0F0F0 100%);
}

footer {
  width: 100%;
  min-height: 50px;
  height: auto;
  margin: auto;
  background: linear-gradient(180deg, #FBFBFB 0%, #F7F7F7 89.72%, #F0F0F0 100%);
}

/* Floating */
.floating1 {
  animation-name: Floating1;
  animation-name: Floating1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes Floating1{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(-3px, -8px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(-3px, -8px);}
    to {-moz-transform: translate(0, -0px);}
}

.floating2 {
  animation-name: Floating2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes Floating2{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(2px, -7px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(2px, -7px);}
    to {-moz-transform: translate(0, -0px);}
}

.floating3 {
  animation-name: Floating3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes Floating3{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0px, 14px);}
    to {-webkit-transform: translate(0, -0px);    }
}

.floating4 {
  animation-name: Floating4;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes Floating4{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0px, 18px);}
    to {-webkit-transform: translate(0, -0px);    }
}

/* Flex Grid */

.flexParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Sub Containers */

.leftSection {
  flex-grow: 1;
  width: 40%;
  margin-right: 20px;
  min-width: 250px;
}

.rightSection {
  flex-grow: 1;
  width: 40%;
  margin-left: 10%;
  min-width: 250px;
}

.threeImages {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 45%;
  min-width: 300px;
  height: auto;
  transition: all .2s ease-in-out;
}

.project:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02); /* Safari */
  transform: scale(1.02);
}

#projectLeft {
  margin-top: 40px;
}

#projectItemTitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.keySkills {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.skill {
  width: 300px;
  float: left;
  padding-bottom: 80px;
}

.skill ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skillTitle {
  margin-top: 0;
  margin-bottom: 16px;
}

.aboutText {
  width: 40%;
  height: auto;
  flex-grow: 1;
  min-width: 250px;
  margin: 4%;
}

.formWrapper {
  margin: auto;
  width: 320px;
  max-width: 100%;
  text-align: center;
  text-align: -webkit-center;
}

input {
  width: 90%;
  height: 40px;
  margin: auto;
  border: 1px solid rgba(155,155,155,0.4);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  -webkit-appearance: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

textarea {
  height: 180px;
  width: 90%;
  margin: auto;
  border: 1px solid rgba(155,155,155,0.4);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  padding-top: 5px;
  -webkit-appearance: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.backgroundShape {
  position: absolute;
  z-index: 1;
}

#backgroundShape1 {
  top: 17vh;
  left: 10%;
  height: auto;
  width: 12%;
}
#backgroundShape2 {
  top: 21vh;
  left: 40%;
  height: auto;
  width: 5%;
}

#backgroundShape3 {
  top: 13vh;
  right: 24%;
  height: auto;
  width: 13%;
}

#backgroundShape4 {
  top: 29vh;
  right: 12%;
  height: auto;
  width: 8%;
}

#backgroundShape5 {
  top: 68vh;
  left: 7%;
  height: auto;
  width: 10%;
}

#backgroundShape6 {
  top: 85vh;
  left: 35%;
  height: auto;
  width: 8%;
}

#backgroundShape7 {
  top: 84vh;
  right: 26%;
  height: auto;
  width: 4%;
}

#backgroundShape8 {
  top: 55vh;
  right: 8%;
  height: auto;
  width: 9%;
}

.footerContent {
  width: 80%;
  max-width: 960px;
  margin: auto;
  padding: 20px 0 20px 0;
}

/* Titles */

.projectTitle {
  margin-top: 0;
  margin-bottom: 24px;
}

.sectionTitle {
  width: 320px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  text-align: -webkit-center;
}

#getInTouchTitle {
  margin-top: 0;
}

#aboutMeTitle {
  margin-top: 0;
}

#footerTitle {
  margin: 36px 0 0 0;
}

/* Images */

#iPhoneImage {
  width: 65%;
  margin-left: 35%;
}

.projectImage {
  height: auto;
  width: auto;
  max-width: 100%;
  margin-bottom: 10px;
  transition: all .2s ease-in-out;
}

.posterImage {
  width: 30%;
  height: 30%;
  padding: 10px;
  margin: auto;
  justify-content: space-between;
  min-width: 150px;
}

.posterImageTopMargin {
  margin-top: 50px;
}

.posterImageNoMargin {
  margin-top: 0px;
}

.aboutImage {
  width: 40%;
  height: auto;
  flex-grow: 1;
  min-width: 200px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.aboutMeImage {
  width: 40%;
  height: auto;
  flex-grow: 1;
  min-width: 200px;
  justify-content: space-between;
  width: auto;
  max-width: 100%;
  max-height: 500px
}

/* Buttons */

button {
	height: 40px;
	width: auto;
  min-width: 120px;
	border-radius: 20px;
  border: none;
	box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
	font-size: 18px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
	text-align: center;
  text-align: -webkit-center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 0;
  transition: ease-in-out 0.15s;
}

button:hover {
  top: -2px;
  box-shadow: 0 10px 10px 0 rgba(155,155,155,0.5);
}

button:active {
  top: 0px;
  box-shadow: 0 8px 8px 0 rgba(155,155,155,0.5);
}

.buttonPrimary {
  background-color: #2B2B2B;
  color: white;
}

.buttonPrimary:active {
  background: rgba(43,43,43,0.9);
}

.buttonSecondary {
  background-color: #ffffff;
  color: #2B2B2B;
}

.buttonSecondary:active {
  background: rgba(43,43,43,0.02);
}

#formButton {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 150px;
}

/* Links */

a {
  text-decoration: none;
  color: black;
}

/* Large Desktop */
@media screen and (min-width: 1441px) {
  /* Sections */
  .centredSectionContent {
    max-width: 800px;
  }
  /* Headers */
  h1 {
    font-size: 90px;
  }

}


/* Mobile and Tablet*/
@media screen and (max-width: 768px) {
  /* General*/
  .stop-scrolling {
  height: 100vh;
  overflow: hidden;
  }

/* Nav*/
  .rightNav {
    padding-top: 0;
    width: 20%;
  }

  .menu{
      display: none;
    }

  .menu.menu.show{
    display: flex;
    flex-flow: column;
    text-align: left;
    width: 100%;
    height: 100vh;
    background: white;
    margin-top: 15px;
    padding-top: 17px;
    position: absolute;
    left: 0;
  }

  .navItem {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .burgerContainer {
    display: inline-block;
    border-radius: 50%;
    background: #2B2B2B;
    cursor: pointer;
    width: 45px;
    height: 45px;
    right: 0;
    box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
  }

  .burgerContainerClose {
    display: inline-block;
    cursor: pointer;
    right: 0;
    box-shadow: 0 5px 5px 0 rgba(155,155,155,0.4);
  }

  .bar1, .bar2, .bar3 {
      width: 21px;
      height: 1px;
      background-color: white;
      margin: auto;
      margin-top: 6px;
      margin-bottom: 6px;
      transition: 0.4s;
  }

  .allBars{
    margin: 15px 0;
  }

  .burgerContainerClose .bar1 {
      -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
      transform: rotate(-45deg) translate(-5px, 5px) ;
  }

  .burgerContainerClose .bar2 {opacity: 0;}

  .burgerContainerClose .bar3 {
      -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
      transform: rotate(45deg) translate(-5px, -5px) ;
  }

  /* Headers */
  h1 {
  font-size: 42px;
  }

  h2 {
  font-size: 36px;
  }

  h3 {
  font-size: 28px;
  }

  h4 {
  font-size: 20px;
  }

  /* Sections*/
  .sectionContent {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }

  .centredSectionContent {
    width: 65%;
    max-width: 660px;
    margin: 0 auto;
    padding-top: 36vh;
    padding-bottom: 25vh;
    text-align: center;
    text-align: -webkit-center;
  }

  /* Sub Containers */
  .leftSection {
    width: 100%;
    margin-right: 0;
  }

  .project {
    min-width: 100%;
    margin: auto;
  }

  #projectLeft {
    padding-bottom: 80px;
    margin-right: 0px;
  }

  .noPaddingBottom {
    padding-bottom: 0;
  }

  .aboutParent {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }

  .aboutText {
    margin-left: 0;
    margin-right: 0;
  }

  #backgroundShape1 {
    top: 30vh;
    left: 3%;
    height: 80px;
    width: 80px;
  }
  #backgroundShape2 {
    top: 17vh;
    left: 22%;
    height: 40px;
    width: 40px;
  }

  #backgroundShape3 {
    top: 16vh;
    right: 20%;
    height: 80px;
    width: 80px;
  }

  #backgroundShape4 {
    top: 30vh;
    right: 5%;
    height: 40px;
    width: 40px;
  }

  #backgroundShape5 {
    top: 70vh;
    left: 3%;
    height: 70px;
    width: 70px;
  }

  #backgroundShape6 {
    top: 78vh;
    left: 30%;
    height: 65px;
    width: 65px;
  }

  #backgroundShape7 {
    top: 90vh;
    right: 28%;
    height: 30px;
    width: 30px;
  }

  #backgroundShape8 {
    top: 70vh;
    right: 4%;
    height: 90px;
    width: 90px;
  }

  /* Images */

  #iPhoneImage {
    display: none;
  }

  .posterImage {
    width: 90%;
    height: 90%;
  }

  .posterImageNoMargin {
    margin-top: 50px;
  }

  .aboutImage {
    margin: auto;
  }

}

/* Desktop*/
@media screen and (min-width: 769px) {
  #Menu {
    display: none;
  }
}

/*Mobile*/
@media screen and (max-width: 375px) {
  .centredSectionContent {
    width: 80%;
  }

}