section.section--grey#work
    .section__content.no-padding-bottom
            .section__title
                h5 Some of
                h2 My Work
    .section__content.no-padding-top.flex--wrap
        .work-item
            a(href="/dynamo")
                img.about-me(data-src=require("../../../images/work--dynamo.svg"), alt="Dynamo image")
                h3 Dynamo
                h5 View Project
        .work-item
            a(href="/citysnapp")
                img.about-me(data-src=require("../../../images/work--citysnapp.svg"), alt="CitySnapp image")
                h3 CitySnapp
                h5 View Project
        .work-item
            a(href="/koodoo")
                img.about-me(data-src=require("../../../images/work--koodoo.svg"), alt="Koodoo image")
                h3 Koodoo
                h5 View Project
        .work-item
            a(href="/certius")
                img.about-me(data-src=require("../../../images/work--certius.svg"), alt="Certius image")
                h3 Certius
                h5 View Project
