section.section--work-peach
    .section__content-full-width
        .extra-padding-bottom.extra-padding-top
            h1.extra-margin-bottom CitySnapp
            h4 The New Way to Discover, Plan and Share
        .flex--reverse.extra-padding-bottom.extra-padding-top.flex--end
            .content--extra-large
                h5 Context
                p CitySnapp is a native and web app, designed to make activity planning easier than ever 
                    | before. The app helps users discover new and exciting events and venues in their 
                    | homecity or whilst they’re traveling abroad. Once a user finds an activity they’re 
                    | interested in they can then bookmark them to come back to later, or share them with 
                    | their friends.
            .content--extra-small
                h5 Key Deliverables
                p Native and Web Application
                    | 
                    br 
                    | Marketing Website
                    br
        .flex.extra-padding-top
            .content--extra-large
                h5 Desinging A Best-in-Class App Experience for Native and the Web
                p Finding events and activities around you, or for an upcoming holiday, can be a drag. No 
                    | matter the review site, there’s always the nagging doubt in the back of your mind, 
                    | asking if you can really trust a strangers opinion. Wouldn’t it be great if you could 
                    | see the places recommended solely by your friends and wider network? This is what spawned 
                    | the idea behind CitySnapp.
                p The app is designed to allow users to quickly find activities endorsed by people they trust, 
                    | before helping them plan what to do on which days. IIt’s social functionality allows 
                    | users to invite their friends to join them, as well as share and review past activities 
                    | for their followers.
