section.section--light-peach
    .section__content.no-padding-bottom.no-padding-top
        .project-image--mobile
            img(src=require("../../../images/citysnapp-app-1--mobile.svg"), alt="Webapp on Mobile")
        .project-image--laptop
            img(src=require("../../../images/citysnapp-app-1--laptop.svg"), alt="Webapp on Laptop")